.roundButton, .roundButton:visited {
  color: white;
  background: purple;
  border-radius: 1.5rem;
  border: none;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-right: 1rem;
  display: inline-block;
  cursor: pointer;
  text-align:center;
  width: auto;
  min-width: 0;
  font-weight: 800;

  & img {
    padding-left: 1rem;
  }
}