@import "stylesheets/variables";

.navbar {
  background: $white;
  
  .navbar__graphic {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    padding: .5em 0;
    align-items: center;

    img {
      height: 100%;
    }
  }

  .navbar__links {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #DDDDDD;

    a {
      color: #282830;
      font-family: $inter;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.23px;
      line-height: 21px;
      margin: .75em;
    }

    .navbar__links_secondary {
      opacity: 0.6;
      color: #282830;
      font-family: $inter;
      display: flex;
      flex-direction: column;
      margin-bottom: 2em;

      .navbar__links_divider {
        height: 1px;
        background-color: #DDDDDD;
        margin: .75em;
      }

      a {
        margin: .5em .75em ;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.2px;
        line-height: 20px;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}
@media only screen and (min-width: 810px) {
  .navbar {
    display: none;
  }
}