@import "stylesheets/variables";

.searchbar {
  border-top: 1px solid #DDDDDD;

  .searchbar__input {
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    padding: 1em 0;
  }
}

.searchbar__button_advanced {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin: auto;
  padding: 1em 0;

  a {
    color: #8B2D9B;
    font-family: $inter;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.75px;
    line-height: 17px;
  }

  img {
    padding-left: 1em;
  }
}

.searchInput {
  border: none;
  border-radius: 0.25rem 0 0 0.25rem;
  flex-grow: 1;
  font-size: 1rem;
  height: 100%;
  padding-left: 1rem;
  width: 65%;
  -webkit-appearance: none;


  /* Remove browser search input defaults */
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  &:focus::placeholder {
    opacity: 0.25;
  }
}

.searchInput::placeholder {
  opacity: 0.5;
  transition: opacity 0.2s ease-out;
}

@media only screen and (max-width: 810px) {
  .searchbar {
    display: none;
  }
}
