@import "stylesheets/variables";

.footer {
  height: 30rem;
  background-color: #282830;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: absolute;
  bottom: -6%;
  z-index: -1;
  width: 100%;

  & .footer__container {
    padding: 3.125rem;
  }

  & .footer__section_top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
  }

  & .footer__section_bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  & .footer__links {
    height: 17px;
    width: 578px;
    justify-content: space-around;
    display: flex;

    & a {
      color: $white;
      font-family: $inter;
      text-decoration: none;
    }
  }

  & .footer__divider {
    height: 1px;
    width: 100%;
    opacity: 0.25;
    background-color: #D8D8D8;
    margin: 1.5rem 0;
  }

  & .footer__p {
    height: 54px;
    width: 980px;
    opacity: 0.5;
    color: #FFFEFE;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 18px;
    font-family: $inter;
    margin: 0;
  }

  & .footer__links_small {
    display: flex;
    height: 1rem;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1rem;
    text-align: right;
    justify-content: center;
    align-items: center;

    & .footer__a {
      border-right: 1px rgba(216, 216, 216, 0.5) solid;
      padding-right: .75rem;
    }

    & a {
      color: #FFFEFE;
      font-family: $inter;
      text-decoration: none;
      padding: 0.125rem;
      padding-left: .75rem;
    }
  }
}