#navbar {
  display: flex;
  background: white;
  padding: .5rem 1rem;

  & a {
    text-decoration: none;
    color: black;
    // padding: 0 .5rem;
  }

  & img {
    height: 2.5rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #navbar {
    flex-direction: column;
    // justify-content: space-between;
  
    & a {
      padding: .75rem;
    }
  
    & img {
      height: 2.5rem;
    }

    & #navLinks {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
//   #navbar {
//     flex-direction: row;
//     justify-content: space-between;
  
//     & a {
//       text-decoration: none;
//       color: black;
//       padding: 0 .5rem;
//     }
  
//     & img {
//       height: 2.5rem;
//     }
//   }
// }

/* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}