#navbar {
  display: flex;
  background: white;
  padding: .5rem 1rem;
  justify-content: space-between;
  align-items: center;

  & a {
    text-decoration: none;
    color: black;
    padding: 0 .5rem;
  }

  & #searchBar {
    position: relative;
    top: .1rem;
    left: .2rem;
  }
}

<<<<<<< HEAD
=======
@media only screen and (max-width: 600px) {
  #navLinks {
    display: none;
  }
}
>>>>>>> 99a233becee1ade6f10f7b27bec01bfdf5f58de8
