@import "stylesheets/variables";

.searchbar__container {
  margin: 1em 0;

  .searchbar {
    background: $white;
    border-radius: 29.5px;
    width: 90%;
    margin: auto;
  
    .input {
      box-shadow: 0 0 12px 0 rgba(40,40,48,0.15);
      border-radius: 25px;
      
      .searchbar__input_container {
        width: 80%;
        margin: 0 .75em;
        height: 50px;

        input {
          text-align: center;
        }
      } 
    }
  
    .searchbar__button_container {
      border-radius: 0 0 26px 26px;
      background-color: $vividViolet;
      align-items: center;
      justify-content: center;
      display: flex;
      height: 50px;
  
      .searchbar__button {
        color: $white;
        border: none;
        background: none;
        font-family: $inter;
        font-size: 14px;
        font-weight: 800;
        letter-spacing: 0.75px;
        line-height: 17px;
        width: 100%;
  
      }
    }
  }
  
  .searchbar__button_advanced {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1em 0;
  
    a {
      color: $vividViolet;
      font-family: $inter;
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 0.75px;
      line-height: 17px;
    }
  }
  
  .searchbar__input {
    border: none;
    border-radius: 0.25rem 0 0 0.25rem;
    flex-grow: 1;
    font-size: 1rem;
    height: 100%;
    padding-left: .5rem;
    -webkit-appearance: none;
  
  
    /* Remove browser search input defaults */
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }
  
    &:focus::placeholder {
      opacity: 0.25;
    }
  }
  
  .searchInput::placeholder {
    opacity: 0.5;
    transition: opacity 0.2s ease-out;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and ($md-viewport) {
  .searchbar__container {
    margin: 1em 0;
  
    .searchbar {
      .input {
        display: flex;
        box-shadow: 0 0 12px 0 rgba(40,40,48,0.15);
        border-radius: 100px 90px 0 100px;
        justify-content: center;
        align-items: center;
      }
      
      .searchbar__button_container {
        border-radius: 0 26px 0 29.5px;
        padding: 0.75rem 1.2rem;
        font-family: $inter;
        margin: .5em .5em .5em 0;

        .searchbar__button {
          font-size: .75em;
          font-weight: 800;
        }
      }

      .searchbar__button_advanced {
        justify-content: flex-end;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and ($lg-viewport) {
  .searchbar__container {  
    .searchbar {
      width: 50%;

      .searchbar__input_container {
        display: flex;
      } 
    }
  }
}