@import "stylesheets/variables";

.pagination {
  display: flex;
  font-family: $sansFont;
  padding: 2em 0;
  justify-content: center;
  align-items: center;

  @media ($sm-viewport) {
    justify-content: flex-end;
    padding: 1em;
    margin-top: 20px;
    text-align: right;
  }
}

.link, .link:visited {
  display: inline-block;
  color: $paginationLinkColor;
  font-size: 1.125rem;
  padding: 3px 10px;
  margin: 0 6px;
  border-radius: 50%;
  font-weight: $bold;
}

.ellipses {
  display: none;

  @media ($sm-viewport) {
    display: inline-block;
  }
}

.link:first-child {
  margin-left: 0;
}

.activeLink, .activeLink:visited {
  color: $paginationLinkColor;
  box-sizing: border-box;
  border: 2px solid $paginationLinkColor;
}

.link:not(.activeLink):hover {
  background-color: $colderBackgroundColor;
}

.nextChevron {
  transform: rotate(-90deg);
  margin-left: 0.5rem;
}

.prevChevron {
  transform: rotate(90deg);
  margin-right: 0.5rem;
}

.previousButton:disabled {
  display: none;
}

.nextButton:disabled {
  display: none;
}

.hideOnLargeScreens {
  cursor: not-allowed;

  @media ($sm-viewport) {
    display: none;
  }
}
