@import "stylesheets/variables";

.pre_footer__section {
  background-color: #282830;
}

.pre_footer {
  height: 25em;
  background: $white;
  border-radius: 0 0 115px 115px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 1em;

  .pre_footer_container {
    width: 100%;
    position: relative;
  }

  .pre_footer_pink {
    height: 15rem;
    border-radius: 150px 0 150px 0;
    background-color: rgba(254,223,223,0.25);
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: #282830;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.38px;
      line-height: 1.75rem;
      text-align: center;
      width: 90%;
    }

    span {
      color: #8B2D9B;
      font-weight: 800;
    }
  }

  .pre_footer_button {
    position: absolute;
    top: 80%;
    left: 10%;
  }
}