@import "stylesheets/variables";

.curvedButton {
  color: $white;
  background: #8B2D9B;
  border-radius: 0 26px 0 29.5px;
  border: none;
  padding: 0.75rem 1.2rem;
  font-family: $inter;
  font-size: .75em;
  font-weight: 800;
}