@import "stylesheets/variables";

// Mobile
@media only screen and (max-width: 768px) {
  .section__container {
    width: auto;
  }
}

@media only screen and (min-width: 769px) {
  .section__container {
    width: 32rem;
    margin: auto;
  }
}

.title {
  height: 17px;
  color: $nyPink;
  font-weight: 800;
  letter-spacing: 0.75px;
  line-height: 17px;
  margin: 1em 0;
  font-size: 1em;
}

.section__text_large {
  color: $blueGem;
  font-size: 1.25em;
  font-weight: 800;
  letter-spacing: 0.5px;
  line-height: 34px;
  margin: 1em 0;
  font-family: $libre;
}

.section__text_small {
  color: $jaguar;
  font-family: $inter;
  font-weight: 600;
  letter-spacing: 0.35px;
  line-height: 28px;
  margin: 1em 0;
}