@import "stylesheets/variables";

.timeline {
  .arrow_closed {
    background-image: url("/static/mobile/icon/expand-arrow-down-mobile.png");
  }

  .timeline__tile {
    display: flex;
    flex-direction: row;
    margin: 1em 0;

    .tile__year {
      align-items: center;
      display: flex;
      flex-direction: column;
      color: $bwsPurple;
      font-family: $libre;
      font-size: 26px;
      font-weight: 900;
      letter-spacing: 0.65px;
      line-height: 47px;

      p {
        margin-bottom: 1em;
      }
    }

    .tile__line {
      width: 2px;
      background-color: $medPink;
      height: 100%;
    }

    .tile__p {
      p {
        margin: 0 0 .5em 1em;
        color: #282830;
        font-family: $inter;
        font-size: 1em;
        font-weight: 500;
        letter-spacing: 0.35px;
        line-height: 28px;
      }
      
    }
  }

  .pagination__container {  
    h4, h5 {
      margin: 0;
    }
  
    h4 {
      color: #FFF7F7;
      font-family: $libre;
      font-size: 20px;
      font-weight: 900;
      letter-spacing: 0.5px;
      line-height: 28px;
      padding-top: .5em;
    }
  
    .pagination__prev {
      border-radius: 29.5px 0 0 0;
      background-color: $orange;
      padding: 1.5em;
  
      h5 {
        color: #FFFEFE;
        font-family: $inter;
        font-size: 14px;
        font-weight: $xBold;
        letter-spacing: 1.2px;
        line-height: 17px;
      }
  
      div {
        display: flex;
        justify-content: space-between;
      }
      
      img {
        transform: rotate(180deg);
      }
    }
  
    .pagination__next {
      border-radius: 0 0 29.5px 0;
      background-color: #8B2D9B;
      padding: 1.5em;
  
      h5 {
        color: $medPink;
        font-family: $inter;
        font-size: 14px;
        font-weight: $xBold;
        letter-spacing: 1.2px;
        line-height: 17px;
      }
  
      div {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}