@import "stylesheets/variables";

.timeline {
  padding-bottom: 5em;

  .arrow_closed {
    background-image: url("/static/mobile/icon/expand-arrow-down-mobile.png");
  }

  .timeline__left {
    display: none;
    margin: 0;

  
    ul {
      list-style: none;
    }
  
    .timeline__active_item {
      color: $vividViolet;
      display: flex;

      span {
        height: 2px;
        width: 15px;
        display: inline-block;
        margin: 0.5em 0.5em 0.5em 0;
        background: $vividViolet;
      }
    }
  
    .timeline__li {
      opacity: 0.5;
      color: $jaguar;
      font-family: $inter;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.31px;
      line-height: 24px;
    }
  }

  .timeline__tile {
    display: flex;
    flex-direction: row;
    margin: 1em 0;

    .tile__year {
      align-items: center;
      display: flex;
      flex-direction: column;
      color: #4E4294;
      font-family: $libre;
      font-size: 26px;
      font-weight: 900;
      letter-spacing: 0.65px;
      line-height: 37px;
      text-align: center;

      p {
        margin-bottom: 1em;
      }
    }

    .tile__line {
      width: 2px;
      background-color: $nyPink;
      height: 100%;
    }

    .tile__p {
      p {
        margin: 0 0 .5em 1em;
        color: $jaguar;
        font-family: $inter;
        font-size: 1em;
        font-weight: 500;
        letter-spacing: 0.35px;
        line-height: 28px;
      }
      
    }
    
    .timeline__a {
      margin: .25em;
      color: $nyPink;
    }
  }

  .timeline__title {
    position: relative;
    margin: 1.5em 0;

    .timeline__title_background {
      height: 101px;
      width: 203px;
      background-color: rgba(255,210,210,0.2);
      border-radius: 0 150px 0 150px;
    }

    h1 {
      color: $blueGem;
      font-family: $libre;
      font-size: 48px;
      font-weight: 900;
      letter-spacing: 1.2px;
      line-height: 47px;
      text-align: center;
      position: absolute;
      top: 20%;
    }

    .timeline__title_line {
      width: 2px;
      background-color: $nyPink;
      height: 30px;
      margin-left: 30px;
    }
  }

  .pagination__container {  
    margin-top: 75px;

    h4, h5 {
      margin: 0;
    }
  
    h5 {
      color: #FFF7F7;
      font-family: $libre;
      font-size: 20px;
      font-weight: 900;
      letter-spacing: 0.5px;
      line-height: 28px;
      padding-top: .5em;
      text-align: left;
    }
  
    .pagination__prev {
      border-radius: 29.5px 0 0 0;
      background-color: $cinnabar;
      padding: 1.5em;
      cursor: pointer;
  
      h4 {
        color: #FFFEFE;
        font-family: $inter;
        font-size: 14px;
        font-weight: $xBold;
        letter-spacing: 1.2px;
        line-height: 17px;
      }
  
      div {
        display: flex;
        justify-content: space-between;
      }
      
      img {
        transform: rotate(180deg);
      }
    }
  
    .pagination__next {
      border-radius: 0 0 29.5px 0;
      background-color: $vividViolet;
      padding: 1.5em;
      cursor: pointer;
  
      h4 {
        color: $nyPink;
        font-family: $inter;
        font-size: 14px;
        font-weight: $xBold;
        letter-spacing: 1.2px;
        line-height: 17px;
      }
  
      div {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .sources__container {
    box-sizing: border-box;
    border: 2px solid $wePeep;
    border-radius: 0 150px 0 0;
    padding: 36px;
    padding-right: 56px;
    margin-bottom: 69px;
    margin-top: 35px;

    h2 {
      color: $nyPink;
      font-family: $inter;
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 1.2px;
      line-height: 17px;
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 15px;
      font-family: $inter;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.31px;
      line-height: 24px;
    }

    ul {
      color: $jaguar;
      font-family: $inter;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.31px;
      line-height: 24px;
      list-style-type: disc;
      padding-left: 18px;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and ($md-viewport) {
  .timeline {
    .pagination__next {
      width: 50%;
      float: right;
    }

    .pagination__prev {
      width: 50%;
      float: left;
    }
  }
}


/* Medium plus devices (992px and up) */
@media only screen and ($mdP-viewport) {
  .timeline {
    display: flex;

    .timeline__dropdown {
      display: none;
    }

    .timeline__right {
      width: 70%;
      margin-left: auto;
    }
  
    .timeline__left {
      display: block;
  
      ul {
        padding-left: 3em;
  
        li {
          padding: .5em;
          cursor: pointer;
        }
      }
    }
  }




}