@import "stylesheets/variables";

.footerWrapper {
  display: flex;
  flex-direction: column;
  clear: both;
  color: white;
  background-color: #282830;
  width: 100%;
  height: 359px;


  & .bevel {
    width: 100%;
    height: 165px;
    border-radius: 0 0 150px 150px;
    background-color: #FFFEFE;
  }

  & .logoNavRow {
    padding: 32px 50px 0 50px;
    justify-content: space-between;
    flex-direction: row;

    & .bws__logo {
      display: inline-flex;
    }
    & .footer_nav {
      display: inline-flex;
      justify-content: space-between;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);

      & li {
        list-style: none;

        & a, a:visited {
          text-decoration: none;
          color: white;
          font-family: $inter;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.2px;
          margin-right: 1.75rem;
          line-height: 35px;

        }
      }
    }

    & .dpla__logo {
      float: right;
    }
  }
  & .dividerLine {
    margin: 18px 50px 0 50px;
    clear: both;
    height: 1px;
    opacity: 0.25;
    background-color: #D8D8D8;
  }

  & .copyrightRow {
    clear: both;

    padding: 18px 50px 0 50px;

    & .itemCopyrightText {
      float: left;
      width: 860px;
      opacity: 0.5;
      color: #FFFEFE;
      font-family: $inter;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 18px;
    }

    & .visitAndHarmfulLinks {
      float: right;

      & .verticalDivider {
        margin: 0 8px 0 8px;
        background-color: #D8D8D8;
        opacity: 0.25;
        width: 1px;
        height: 15px;
        display: inline-flex;
      }


      & a {
        color: #FFFEFE;
        font-family: $inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        text-align: right;
        vertical-align: top;
        display: inline-flex;
      }
    }
  }
}