@import "stylesheets/variables";

.partners__wrapper {
  .partners__section_1 {
    border-radius: 115px 0 0 0;
    background-color: rgba(255,210,210,0.2);
    margin: 2em 0;

    .partners__section_1_intro {
      padding: 3em 2em;
    
      h1 {
        color: $blueGem;
        font-family: $sansFont;
        font-size: 14px;
        font-weight: 800;
        letter-spacing: 1.2px;
        line-height: 20px;
        text-align: center;
        margin: 2em 0;
      }

      p {
        color: $cinnabar;
        font-family: $serifFont;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 0.7px;
        line-height: 47px;
        text-align: center;
      }
    }
  }

  .partners__section_1_logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    a {
      width: 45%;
      margin: .25em;

      img {
        width: 100%;
      }
    }
  }

  .partners__section_2 {
    margin: 1em;

    h2 {
      color: $blueGem;
      font-family: $sansFont;
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 1.2px;
      line-height: 17px;
    }

    .partners__section_2_links {
      p {
        margin: 2em 0;
        color: $jaguar;
        font-family: $sansFont;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.35px;
        line-height: 28px;
      }
    }


    .partners__section_2_more {
      box-sizing: border-box;
      border: 2px solid $wePeep;
      border-radius: 0 29.5px 0 29.5px;
      display: flex;
      align-items: center;
      padding: 1em;

      p {
        color: $jaguar;
        font-family: $sansFont;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.35px;
        line-height: 28px;
        text-align: center;
      }
    }
  }

  .partners__section_3 {
    .partners__section_3_left {
      border-radius: 150px 0 0 0;
      background-color: rgba(245,240,238,0.8);
      padding: 1em;

      .partners__section_3_bold {
        margin-top: 1em;
        color: $nyPink;
        font-family: $serifFont;
        font-size: 35px;
        font-weight: 900;
        letter-spacing: 0.88px;
        line-height: 47px;
        padding: 1em 0;

        a {
          color: $vividViolet;
        }
      }

      p {
        // margin: 1em;
        color: $jaguar;
        font-family: $sansFont;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.35px;
        line-height: 28px;
      }
    }

    .partners__section_3_right {
      background-color: $blueGem;

      div {
        display: flex;
        overflow: hidden;
        background-image: url("/static/image/partners-page/partners-image-body-1.png");
        background-size: cover;
        background-position: center;
        height: 600px;
        opacity: 0.5;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and ($md-viewport) {
  .partners__wrapper {
    .partners__section_2 {
      .partners__section_2_links {
        display: flex;
        justify-content: space-between;

        div {
          width: 48%;
        }
      }
    }

    .partners__section_3 {
      display: flex;
      .partners__section_3_left {
        width: 50%;
        padding: 3em;
      }

      .partners__section_3_right {
        width: 50%;

        div {
          height: 100%;
        }
      }
    }
  }
}

/* Medium plus devices (992px and up) */
@media only screen and ($mdP-viewport) {
  .partners__wrapper {
    // margin: 2em;

    .partners__section_1 {
      border-radius: 150px 0 150px 0;

      
      .partners__section_1_intro {
        width: 80%;
        margin: auto;
      
      //   h1 {
      //     color: $blueGem;
      //     font-family: $sansFont;
      //     font-size: 14px;
      //     font-weight: 800;
      //     letter-spacing: 1.2px;
      //     line-height: 20px;
      //     text-align: center;
      //     margin: 2em 0;
      //   }
  
      //   p {
      //     color: $cinnabar;
      //     font-family: $serifFont;
      //     font-size: 28px;
      //     font-weight: bold;
      //     letter-spacing: 0.7px;
      //     line-height: 47px;
      //     text-align: center;
      //   }
      }
    }

    .partners__section_1_logos {
      flex-wrap: nowrap;
      width: 90%;
      margin: auto;

      a {
        width: 25%;
        margin: .25em;

        img {
          width: 100%;
        }
      }
    }  
  }
}