@import "stylesheets/variables";

.section_title {
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $blueGem;
    font-family: $libre;
    font-size: 2em;
    font-weight: $xBold;
    letter-spacing: 0.85px;
    line-height: 47px;
    margin: .5em 0;
    padding-left: .5em;

    span {
      background: $white;
    }
  }

  h1:before {
    background: $lightCoral;
    height: 2px;
    flex: 1;
    content: '';
  }
}