/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #navbar {
    flex-direction: column;
    // justify-content: space-between;
  
    & a {
      padding: .75rem;
    }
  
    // & img:first-child {
    //   height: 2.5rem;
    // }

    & #navLogo {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    & img:first-child {
      height: 2.5rem;
    }

    & img:nth-child(2) {
      height: 1rem
    }

    & #navLinks {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    & #menuIcon {
      display: inline;
    }
  }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
//   #navbar {
//     flex-direction: row;
//     justify-content: space-between;
  
//     & a {
//       text-decoration: none;
//       color: black;
//       padding: 0 .5rem;
//     }
  
//     & img {
//       height: 2.5rem;
//     }
//   }
// }

/* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}
@media only screen and (min-width: 768px) {
  #navbar {
    // display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}