@import "stylesheets/variables";

.banner {

  position: relative;
  z-index: 1;

  .banner__background {
    background-image: url("/static/image/home-page/home-image-hero.png");
    background-color: $geraldine;
    opacity: 0.6;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .banner_left__div {
    padding: 2rem 1.5em;

    h6 {
      color: $lightCoral;
      font-family: $inter;
      font-size: 1.125rem;
      font-weight: $xBold;
      letter-spacing: 0.078rem;
      line-height: 1.313rem;
    }

    .banner__text {
      color: $white;
      text-shadow: 0 2px 10px rgba(40,40,48,0.2);
      font-family: $inter;
      font-size: 1.4rem;
      font-weight: $xBold;
      letter-spacing: 0.55px;
      margin: 0;
    }
  }

  .banner_right__div {
    img {
      width: 100%;
    }
  }
}

// Section 1 - Black Women's Suffrage Portal

.home__section_1 {
  background: $white;
  display: flex;
  flex-direction: column;

  .home__section_1__right {
    margin: 0 auto;
    padding: 3em 0;
  }
}


// Section 2 - Adding shades of context

.home__section_2 {
  background-color: rgba(245,240,238,0.8);
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  border-radius: 0 9.375rem 0 0;

  .section_2__div_right {
    margin: auto;
    padding: 3em 1em;    
  }
}

// Section 3 - Digital Collection

.home__section_3 {
  background-color: #F3F3F3;

  .home__section_3_content {
    background-color: $blueGem;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 5em 0;
    border-radius: 0 0 0 150px;
  }
  p {
    width: 90%;
    color: #FFF7F7;
    font-family: $libre;
    font-size: 1.75rem;
    font-weight: $bold;
    letter-spacing: 0.7px;
    line-height: 2.938rem;
    text-align: center;
    padding-top: 1em;
  }
}

// Section 4 - Collections

.home__section_4 {
  background: #F3F3F3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5em 0;

  .home__section_4_tile {
    margin: 2em 1em;
    
    .home__section_4_tile_title {
      height: 103px;
      border-radius: 0 0 0 29.5px;
      background-color: #FFFFFF;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    .home__section_4_tile_img {
      width: 100%;
    }

    h3 {
      color: $jaguar;
      font-family: $inter;
      font-weight: $semiBold;
      padding: .5em;
    }

    p {
      color: #BBBBBB;
      font-family: $inter;
      font-weight: $xBold;
      letter-spacing: 0.75px;
      padding: .5em;
    }

    a {
      color: $vividViolet;
      font-family: $inter;
      font-weight: $xBold;
      letter-spacing: 0.75px;
      padding: .5em;

      img {
        padding-left: .5em;
        height: .75em;
      }
    }
  } 
}

// Section 5 - Partners 

.home__section_5 {
  background-color: #F3F3F3;

  .section_5__div_left {
    border-radius: 115px 0 0 0;
    background-color: rgba(245,240,238,0.8);
    margin: auto;
    padding: 5em 1em;
  }

  .section_5__div_right {
    background-color: $blueGem;
    background-image: url("/static/image/home-page/home-image-body-2-mobile.png");

    .section_5__div_right_imgs {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 25em;

      img {
        width: 45%;
        margin: .25em;
      }
    }
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and ($md-viewport) {
  .banner {
    display: flex;
    flex-direction: row;

    .banner_left__div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;

      .banner__button {
        width: 50%;
      }

      p {
        font-size: 2em;
        text-shadow: 0 2px 10px 0 rgba(40,40,48,0.2);

      }
    }
  }

  .home__section_1 {
    margin: 1rem;
    flex-direction: row;
    height: auto;
  }

  .home__section_2 {
    flex-direction: row;
    height: auto;
    
    .section_2__div_right {

    }

    .section_2__div_left {
      display: flex;
      img {
        display: none;
      }
    }


  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and ($lg-viewport) {
  .banner {
    border-radius: 0 0 0 150px;
    height: 25em;

    .banner_right__div {
      display: flex;
      justify-content: flex-end;
    
      img {
        height: 100%;
        width: auto;
      }
    }
  }

  .home__section_2 {  
    .section_2__div_left {
      img {
        display: block;
      }
    }
    
    .section_2__div_right {
      width: auto;
    }
  }
}