.hero {
  background-image: url("../../static/images/home/home-image-hero.png");
  background-color: #E77878;
  opacity: 0.5;
  height: 435px;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 0 9.375rem;

  & .container {
    & p {
      margin: 0;
      text-shadow: 0 2px 10px rgba(40,40,48,0.2);
    }
  }

  & .hero__left {
    display: flex;
    margin: auto;
  }

  & .container__left {
    color: #FFFFFF;
    // font-family: Inter;
    font-size: 34px;
    font-weight: 800;
    // letter-spacing: 0.75px;
    line-height: 45px;
    // text-shadow: 0 2px 10px 0 rgba(40,40,48,0.2);
  }

  & .container__right {
    background-image: url("../../static/images/graphic/home/home-graphic-hero.png");
    height: 435px;
    width: 725px;
  }

  & .hero__button {
    margin-top: 3rem;
  }

}

// Section 1 - Search the collection

.home__section_1 {
  height: 32rem;
  background: white;
  display: flex;
  margin: 6rem;
  justify-content: space-between;

  & .collection__left {
    width: 35rem;

    & .collection__button {
      margin-top: 1.5rem;
    }
  }

  & .home__section_1__right {
    margin: auto;
  }

  .home__section_1__img {
    background: url("../../static/images/graphic/home/home-graphic-body-1.png");
    height: 465px;
    width: 480px;
  }
}


// Section 2 - Adding shades of context

.home__section_2 {
  height: 32rem;
  background: #FEDFDF;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 9.375rem 0;

  & .section_2__div_left {
    width: 50%;
    background: url("../../static/images/home/home-image-body-1.png");
  }

  & .section_2__div_right {
    width: 50%;
    margin: auto;
  }
}

// Section 3 - Digital Collection

.home__section_3 {
  display: flex;
  justify-content: space-between;
  margin: 6rem;

  & .section_3__div_right {

  }

  & .section_3__div_right {
    display: flex;
    & img {
      margin: auto;
    }
  }
}

// Mobile
@media only screen and (max-width: 768px) {
  .container {
    & .hero__text {
      margin: 0
    }
  }

  .container__left {
    margin: .5rem;
  }

  .container__right {
    display: none;
  }

  .home__section_1 {
    margin: 1rem;
    flex-direction: column;
    height: auto;
    .home__section_1__img {
      display: none;
      // margin-top: 1rem;
      // width: 320px;
      // background-repeat: no-repeat;
      // background-size: contain;
      // height: 250px;
      // margin: 1rem;
    }
  }


  // section 2 
  .home__section_2 {  
    height: auto;
    & .section_2__div_left {
      display: none;
    }
  
    & .section_2__div_right {
      width: auto;
      height: auto;
    margin: 1rem;

    }
  }

  // section 3 

  .home__section_3 {
    height: auto;
    margin: 1rem;

    & .section_3__div_left {
      width: auto;
      height: auto;
    }
  
    & .section_3__div_right {

      display: none;

    }

  }

}