@import "stylesheets/variables";

.hero {
  background-image: url("../../static/images/home/home-image-hero.png");
  background-color: #E77878;
  opacity: 0.5;
  height: 435px;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 0 9.375rem;

  & .container {
    & p {
      margin: 0;
      text-shadow: 0 2px 10px rgba(40,40,48,0.2);
    }
  }

  & .hero__left {
    display: flex;
    margin: auto;
  }

  & .container__left {
    color: $white;
    // font-family: Inter;
    font-size: 34px;
    font-weight: 800;
    // letter-spacing: 0.75px;
    line-height: 45px;
    // text-shadow: 0 2px 10px 0 rgba(40,40,48,0.2);
  }

  & .container__right {
    background-image: url("../../static/images/graphic/home/home-graphic-hero.png");
    height: 435px;
    width: 725px;
  }

  & .hero__button {
    margin-top: 3rem;
  }

}

.collection {
  height: 32rem;
  background: $white;
  display: flex;
  margin: 9rem;
  justify-content: space-between;

  & .collection__left {
    width: 35rem;

    & .collection__button {
      margin-top: 1.5rem;
    }
  }

  & .collection__right {
    margin: auto;
  }

  .collection__img {
    background: url("../../static/images/graphic/home/home-graphic-body-1.png");
    height: 465px;
    width: 480px;
  }
}


// Section 3

.home__section_2 {
  height: 32rem;
  background: #FEDFDF;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 9.375rem 0;

  & .section_2__div_left {
    width: 50%;
    background: url("../../static/images/home/home-image-body-1.png");
  }

  & .section_2__div_right {
    width: 50%;
    margin: auto;
  }
}






  // section 5 

  .home__section_5 {
    height: 17.125rem;
    background: $white;
    border-radius: 0 0 9.375rem 9.375rem;
    align-items: center;
    justify-content: center;
    display: flex;

    & .home__section_5_container {
      height: 11.563rem;
      width: 45rem;
      position: relative;
    }

    & .home__section_5_pink {
      height: 10rem;
      border-radius: 150px 0 150px 0;
      background-color: rgba(254,223,223,0.25);
      display: flex;
      justify-content: center;
      align-items: center;

      & p {
        height: 3.5rem;
        width: 31rem;
        color: #282830;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0.38px;
        line-height: 28px;
        text-align: center;
      }

      & span {
        color: #8B2D9B;
      }
    }

    & .home__section_5_button {
      position: absolute;
      top: 60%;
      left: 30%;
    }

  }











// Mobile
@media only screen and (max-width: 768px) {
  .container {
    & .hero__text {
      margin: 0
    }
  }

  .container__left {
    margin: .5rem;
  }

  .container__right {
    display: none;
  }

  .collection {
    margin: 1rem;
    flex-direction: column;
    height: auto;
    .collection__img {
      display: none;
      // margin-top: 1rem;
      // width: 320px;
      // background-repeat: no-repeat;
      // background-size: contain;
      // height: 250px;
      // margin: 1rem;
    }
  }


  // section 3 
  .home__section_2 {  
    height: auto;
    & .section_2__div_left {
      display: none;
    }
  
    & .section_2__div_right {
      width: auto;
      height: auto;
    margin: 1rem;

    }
  }

}