.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  .button__prev {
    transform: rotate(180deg);
    background: url("/static/dpla-icons/chevron-thick-black.svg") no-repeat;
    background-position: center;
}

  .button__next {
    background: url("/static/dpla-icons/chevron-thick-black.svg") no-repeat;
    background-position: center;
}
  
  .iconButton {
    height: 3.75rem;
    width: 3.75rem;
  }
}