.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  .button__prev {
    transform: rotate(180deg);
  }
  .iconButton {
    // border: none;
    height: 3.75rem;
    width: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}