.split_banner__section {
  height: 32rem;
  display: flex;
  margin: 6rem;
  justify-content: space-between;

  & .scontainer__left {
    width: 50%;
  }

  & .container__right {
    width: 50%;
  }
}