@import "stylesheets/variables";

.key_figures {
  display: flex;
  padding-bottom: 5em;
}

.key_figures__dropdown {
   margin: 1rem;
   margin-bottom: 1.5rem;
  }

.key_figures__info {
  width: 100%;
  border-radius: 115px 0 115px 0;
  background-color: rgba(254,223,223,0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 45px;
  margin-bottom: 3rem;

  h6 {
    color: $lightCoral;
    font-family: $inter;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1.2px;
    line-height: 17px;
    margin-bottom: 10px;
  }

  h2 {
    color: $blueGem;
    font-family: $libre;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0.75px;
    line-height: 34px;
    margin: 0;
    text-align: center;
  }
}

.key_figures__portrait {
  display: flex;
  justify-content: center;
  margin: 2em 0;

  img {
    border-radius: 150px 0 150px 150px;
  }
}

.key_figures__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  flex-direction: column;
}

.key_figures__left {
  display: none;
  margin: 0;

  ul {
    list-style: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:focus {
    outline: none;
  }

  .key_figures__active_item {
    color: $vividViolet;
    display: flex;

    span {
      height: 2px;
      width: 15px;
      display: inline-block;
      margin: 0.5em 0.5em 0.5em 0;
      background: $vividViolet;
    }
  }

  .key_figures__li {
    opacity: 0.5;
    color: $jaguar;
    font-family: $inter;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.31px;
    line-height: 24px;
  }
}

.key_figures__right {
  p {
    color: $jaguar;
    font-family: $inter;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1.18px;
    line-height: 28px;
    margin-bottom: 1em;
  }

  section {
    clear: left;
  }
}

.key_figures__section_title {

  margin-top: 2em;
  margin-bottom: 1em;

  span {
    height: 2px;
    width: 25px;
    display: inline-block;
    margin-bottom: 0.5em;
    background: $nyPink;
  }

  h1 {
    color: $blueGem;
    font-family: $libre;
    font-size: 2em;
    font-weight: $xBold;
    letter-spacing: 0.85px;
    line-height: 47px;
    background: #fff;
    margin-left: 10px;
    display: inline;
  }
}

.key_figures__disclaimer {
  opacity: 0.5;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  font-style: italic;
}

/* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}
@media only screen and ($md-viewport) {

  .key_figures__left {
    display: none;

    ul {
      padding-left: 0;

      li {
        padding: .5em;
      }
    }
  }

  .key_figures__image {
    img {
      width: 25em;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .key_figures__right {
    width: 70%;
    margin-left: auto;
  }

  .key_figures__left {
    display: block;

    ul {
      padding-left: 3em;
    }
  }

  .key_figures__intro_container_with_portrait {
    float: left;
    width: 67%;
  }

  .key_figures__portrait {
    float: right;
    margin-top: 0;
    width: 33%;

    img {
      width: 100%;
    }
  }

  .key_figures__dropdown {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}