@import "stylesheets/variables";

.harmful__section_1 {
  box-sizing: border-box;
  border: 2px solid #FEDFDF;
  border-radius: 115px 0 0 0;
  margin: 1em;

  .harmful__section_1_intro {
    margin: 3em 2em;
  }

  h3 {
    color: $blueGem;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1.2px;
    line-height: 20px;
  }

  h2 {
    color: $nyPink;
    font-family: $serifFont;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 0.88px;
    line-height: 47px;
    margin:28px 0 28px 0;
  }
  p {
    color: $jaguar;
    font-family: $sansFont;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.35px;
    line-height: 28px;
  }

  .harmful__section_1_img {
    display: flex;
    justify-content: center;

    img {
      width: 90%;
    }
  }
}

.harmful__faq {

  width: 1180px;
  margin-top: 84px;

  h2 {
    color: $blueGem;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 0.88px;
    line-height: 47px;
    font-family: $serifFont;
  }

  div {
    clear: both;
    border-top: 2px solid #FFD2D2;

    dt {
      padding-top: 32px;

      color: $cinnabar;
      font-family: $serifFont;
      font-size: 28px;
      font-weight: bold;
      letter-spacing: 0.7px;
      line-height: 47px;
      display: block;
      float: left;
      padding-right: 60px;
      width: 560px;
      height: 100%;

    }
    dd {
      color: $jaguar;
      font-family: $sansFont;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.35px;
      line-height: 28px;
      display: block;
      padding-bottom: 32px;
      padding-top: 32px;
      width: 560px;
      float: right;

      ul {
        list-style: disc;
         li {
           margin-bottom: 24px;
         }
        li.highlight {
          color: $cinnabar;
        }
      }
    }
  }
}

.harmful__section_3 {
  margin-top: 84px;
  height: 394px;
  width: 875px;
  border-radius: 0 150px 0 150px;
  background-color: rgba(255, 210, 210, 0.2);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;

  div {
      h2 {
        height: 94px;
        width: 610px;
        color: #F18787;
        font-family: $serifFont;
        font-size: 35px;
        font-weight: 900;
        letter-spacing: 0.88px;
        line-height: 47px;
        text-align: center;
        margin-bottom: 1em;
        margin-top: 1.5em;
      }
    p {
      width: 590px;
      color: #282830;
      font-family: $sansFont;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.35px;
      line-height: 28px;
      text-align: center;
      margin-bottom: 1em;
      a {
        font-weight: $xBold;
      }
    }


  }


}

/* Medium plus devices (992px and up) */
@media only screen and ($mdP-viewport) {
  .harmful__section_1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

    .harmful__section_1_intro {
      width: 50%;
    }

    h3 {
      text-align: left;
    }
  }
}