@import "stylesheets/variables";

.title {
  height: 17px;
  color: #F48C8C;
  font-size: 14px;
  font-weight: $xBold;
  letter-spacing: 0.75px;
  line-height: 17px;
}

.section__text_large {
  color: $blueGem;
  font-size: 25px;
  font-weight: $xBold;
  letter-spacing: 0.5px;
  line-height: 34px;
  font-family: $libre;
}

.section__text_small {
  color: $jaguar;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.35px;
  line-height: 28px;
  font-family: $inter;
  margin-top: 2em;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and ($md-viewport) {
  .section__text_large {
    font-size: 16px;
    line-height: 28px;
  }

  .section__text_small {
    font-size: 14px;
    line-height: 22px;
    margin-top: 1em;
  }
}