@import "stylesheets/variables";

.filtersListWrapper {
  // width:  100%;
  margin: 0.75em 1em;

  @media (min-width: $smallRem) {
    box-shadow: inset 0 -0.075rem 0.075rem 0 rgba(0, 0, 0, 0.05);
  }
}

.filtersList {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: max-height 0.15s ease-in-out, visibility 0s 0.15s;

  &.isOpen {
    visibility: visible;
    max-height: 20rem;
  }

  @media (min-width: $smallRem) {
    max-height: none;
    visibility: visible;
    overflow: visible;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem 0.5rem;
  }
}

.labelAndFilters {
  @media (min-width: $smallRem) {
    display: flex;
    align-items: center;
  }
}

.labelText {
  color: $nyPink;
  font-weight: 600;
  font-size: 1rem;
  flex-shrink: 0;
  align-self: baseline;
  display: block;
  margin: 0.5rem 0;
  font-family: $inter;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1.25px;
  line-height: 21px;

  @media (min-width: $smallRem) {
    margin-right: 0.75rem;
    margin-top: 0.1rem;
  }
}

.filters {
  display: inline-flex;
  flex-wrap: wrap;
}

.filter {
  color: $secondaryButtonColor;
  border: 2px solid $wePeep;
  font-size: 0.875rem;
  border-radius: 4px;
  margin-right: 0.5rem;
  display: inline-block;
  margin-bottom: 0.25rem;
}

.filterLink, .filterLink:visited {
  display: flex;
  align-items: center;
  padding: 4px 8px;

  &:hover {
    text-decoration: none;
  }
}

.filterText {
  font-weight: 600;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.clearAll, .clearAll:visited {
  color: $linkColor;
  font-weight: 600;
  flex-shrink: 0;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  align-self: flex-end;

  &:hover span {
    text-decoration: underline;
  }

  @media (min-width: $smallRem) {
    font-size: 1rem;
    align-self: baseline;
    color: $linkColor;
    margin-top: 0.2rem;
  }
}

.clearAllIcon {
  height: 12px;
  width: 12px;
  margin-right: 0.5rem;
  position: relative;
  top: 1px;
}

.clearAllIconPath {
  fill: $linkColor;
}
