@import "stylesheets/variables";

.bordered_text_box__container {
  border: 2px solid $wePeep;

  p {
    font-family: $inter;
    color: #282830;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1.18px;
    line-height: 28px;
    padding: 1.5em;
  }

  p::first-letter {
    color: $blueGem;
    font-family: $libre;
    font-size: 3em;
    font-weight: $bold;
  }
}