@import "stylesheets/variables";

.about__section_1 {
  position: relative;
  margin: 1em;

  .about__section_1_left {
    padding: 2em 0;

    img {
      height: 300px;
    }

    .about__section_1_left_content {
      color: $nyPink;
      font-family: $libre;
      font-size: 1.5em;
      font-weight: 900;
      position: absolute;
      top: 8%;
      padding-left: .75em;

      p {
        padding: .25em 0;
      }
    }   
  }
  
  .about__section_1_right {
    padding-bottom: 3em;
  }
}

.about__section_2 {
    background-color: $blueGem;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 5em 0;
    border-radius: 115px 0 0 0;

    h3 {
      width: 80%;
    }

    p {
      width: 90%;
      color: #FFF7F7;
      font-family: $libre;
      font-size: 1.75rem;
      font-weight: $bold;
      letter-spacing: 0.7px;
      line-height: 2.938rem;
      text-align: center;
      padding-top: 1em;
    }
}

.about__section_3 {
  background-color: rgba(245,240,238,0.8);

  .about__section_3_left {
    padding: 3em 1em;
    .about__section_3_left_bold {
      color: $nyPink;
      font-family: $libre;
      font-size: 35px;
      font-weight: 900;
      letter-spacing: 0.88px;
      line-height: 47px;
    }

    .about__section_3_left_p {
      color: $jaguar;
      font-family: $inter;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.35px;
      line-height: 28px;
      padding-top: 1em;
    }
  }

  .about__section_3_right {
    position: relative;

    .about__section_3_right_desktop {
      display: none;
    }
  }

  & img:first-of-type {
    opacity: 0.55;
    background-color: $wePeep;
  }

  & img:nth-of-type(2) {
    position: absolute;
    right: -5rem;
    bottom: -4rem;
    z-index: 1;
  }
}

.about__section_4_desktop {
  display: none;
}

.about__section_4_mobile {
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 3em;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__section_4_div {
    position: relative;
    text-align: center;
    
    img {
      padding: 3em 1em 1em 1em;
    }

    h3 {
      width: 80%;
      position: absolute;
      top: 70%;
    }
  }

  .about__section_4_text {
    margin: 0 1em;

    .about__section_4_text_bold {
      color: $cinnabar;
      font-family: $libre;
      font-size: 1.5em;
      font-weight: bold;
      letter-spacing: 0.7px;
      line-height: 47px;
      text-align: center;
    }

    .about__section_4_text_p {
      color: $jaguar;
      font-family: $inter;
      font-size: 1em;
      font-weight: 500;
      letter-spacing: 0.35px;
      line-height: 1.75rem;
      text-align: center;
      margin-top: 1em;
    }
  }
}

.about__section_5 {
  border-radius: 115px 0 0 0;
  background-color: rgba(245,240,238,0.8);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  padding: 1.5em;

  .about__section_5_content {
    padding-top: 3em;
    h3 {
      color: $blueGem;
      text-align: center;
      font-family: $inter;
      font-size: 16px;
      font-weight: 800;
      letter-spacing: 1.2px;
      line-height: 20px;
      margin-bottom: 2em;
    }
  
    h2 {
      color: $nyPink;
      font-family: $libre;
      font-size: 35px;
      font-weight: 900;
      letter-spacing: 0.88px;
      line-height: 47px;
      margin-bottom: .5em;
    }
  
    p {
      color: $jaguar;
      font-family: $inter;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.35px;
      line-height: 28px;
      padding: 1em 0;
    }

    .about__section_5_img {
      width: 100%;
      margin: 3em 0;
    }
  }
}

.about__section_6 {
  
  position: relative;
  margin-top: 120px;
  margin-left: 3em;
  margin-right: 3em;

  .about__section_6_line {
    height: 120px;
    width: 2px;
    background-color: #EC5938;
    position: absolute;
    top: -80px;
    left: 50%;
  }

  .about__section_6_content {
    border: 2px solid #FEDFDF;
    box-sizing: border-box;
    border-radius: 0 150px 0 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding-right: 2em;
    padding-left: 2em;
  }

  h2 {
    padding-top: 2em;
    padding-bottom: 1em;
    color: #4E4294;
    font-family: "Frank Ruhl Libre";
    font-size: 34px;
    font-weight: 900;
    letter-spacing: 0.85px;
    line-height: 47px;
    text-align: center;
  }

  li {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 1em;
    padding-top: 1em;
  }

  li:last-of-type {
    border-bottom: none;
  }

  .about__section_6_role {
    opacity: 0.55;
    color: #282830;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.15px;
    line-height: 28px;
    display: block;
  }

  .about__section_6_name {
    color: #282830;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.15px;
    line-height: 28px;
    display: block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and ($md-viewport) {
  .about__section_1 {
    display: flex;
    margin: 3em 1em;

    .about__section_1_left {
      width: 50%;

      .about__section_1_left_content {
        font-size: 24px;
        top: 25%;
      }
    }

    .about__section_1_right {
      width: 50%;
      font-size: 35px;
      padding-bottom: 0;
    }
  }

  .about__section_3 {
    display: flex;

    .about__section_3_left {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .about__section_3_right {
      display: flex;
    }
  }

  .about__section_5 {  
    .about__section_5_content {      
      .about__section_5_right {
        display: flex;
        justify-content: center;

        .about__section_5_img {
          width: 50%;
          margin: 3em 0;
        }
      }
    }
  }

  .about__section_6 {
    ul {
      display: table;
      padding-right: 2em;
      padding-left: 2em;
      padding-bottom: 2em;
    }

    li {
      display: table-row;
    }

    .about__section_6_role {
      padding-right: 1em;
      display: table-cell;
      width: 33%;
      padding-bottom: 1em;
      padding-top: 1em;
      border-bottom: 1px solid #DDDDDD;
    }

    .about__section_6_name {
      display: table-cell;
      padding-bottom: 1em;
      padding-top: 1em;
      border-bottom: 1px solid #DDDDDD;
    }

    li:last-of-type {
      .about__section_6_role {
        border-bottom: none;
      }
      .about__section_6_name {
        border-bottom: none;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and ($lg-viewport) {
  .about__section_1 {
    margin: 3em;
    justify-content: space-around;

    .about__section_1_left {
      width: 40%;

      .about__section_1_left_content {
        font-size: 32px;
        top: 20%;
      }
    }

    .about__section_1_right {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

  }

  .about__section_2 {
    padding: 8em;
  }

  .about__section_3 {
    .about__section_3_left {
      width: 50%;
      padding: 3em;
    }

    .about__section_3_right {
      .about__section_3_right_mobile {
        display: none;
      }

      .about__section_3_right_desktop {
        display: inline;
      }
    }
  }

  .about__section_4_mobile {
    display: none;
  }
  
  .about__section_4_desktop {
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 3em;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .about__section_4_div {
      position: relative;
      text-align: center;
      
      img {
        padding: 3em 1em 1em 1em;
      }

      .about__section_4_header {
        position: absolute;
        top: 55%;

        .about__section_4_text_bold {
          color: $cinnabar;
          font-family: $libre;
          font-weight: bold;
          letter-spacing: 0.7px;
          text-align: center;
          font-size: 2em;
          margin: .5em 0;
          line-height: 47px;
        }
      }
    }

    .about__section_4_text {
      margin: 0 1em;
      width: 50%;

      .about__section_4_text_p {
        color: $jaguar;
        font-family: $inter;
        font-size: 1em;
        font-weight: 500;
        letter-spacing: 0.35px;
        line-height: 1.75rem;
        text-align: center;
        margin-top: 2em;
      }
    }
  }

  .about__section_5 {
    .about__section_5_content {
      display: flex;
      padding: 3em;

      .about__section_5_left {
        width: 50%;
      }

      .about__section_5_right {
        width: 50%;

        .about__section_5_img {
          width: 80%;
        }
      }
    }
  }
}