@import "stylesheets/variables";

.about__section_1_left {
  color: #F48C8C;
  font-family: $libre;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 0.77px;
  margin: auto;
}

.about__section_1_right {

}

.about__section_2 {
  height: 32rem;
  border-radius: 150px 0 0 0;
  background-color: #4E4294;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;

  & h3 {
    width: 319px;
  }

  & p {
    height: 235px;
    width: 814px;
    color: #FFF7F7;
    font-family: $libre;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.7px;
    line-height: 47px;
    text-align: center;
  }
}

.about__section_3 {
  background-color: rgba(254,223,223,0.35);

  & .about__section_3_left {
    margin: auto;
    height: 367px;
    width: 460px;

    & .about__section_3_left_bold {
      // height: 235px;
      // width: 460px;
      color: #F18787;
      font-family: $libre;
      font-size: 35px;
      font-weight: 900;
      // letter-spacing: 0.88px;
      line-height: 47px;
      margin-bottom: 1rem;
    }

    & .about__section_1_left_p {
      height: 112px;
      width: 460px;
      color: #282830;
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.35px;
      line-height: 28px;
    }
  }

  & .about__section_3_right {
    position: relative;
  }

  & img:first-of-type {
    opacity: 0.55;
    background-color: $lightPink;
  }

  & img:nth-of-type(2) {
    position: absolute;
    right: -5rem;
    bottom: -4rem;
  }
}