@import "stylesheets/variables";

.navbar {
  display: flex;
  background: white;
  padding: .5rem 1rem;
  justify-content: space-between;
  align-items: center;

  & a {
    text-decoration: none;
    color: #282830;
    font-family: $inter;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 20px;
    padding: 0 .5rem;
  }

  & .searchbar {
    position: relative;
    top: .1rem;
    left: .2rem;
  }
}

@media only screen and (max-width: 810px) {
  .navbar {
    display: none;
  }

  // .nav__links {
  //   display: none;
  // }
}
