@import "stylesheets/variables";

.navbar {
  display: flex;
  background: white;
  padding: .5rem 1rem;
  justify-content: space-between;
  align-items: center;

  & ul {
    display: inline-flex;

    & li {
      list-style: none;

      .searchIcon {
        padding-top: 8px;
      }

      & a {
        text-decoration: none;
        color: #282830;
        font-family: $inter;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.2px;
        margin-right: 1.75rem;
        line-height: 35px;
      }

      & .divider {
        height: 35px;
        width: 1px;
        background-color: #D8D8D8;
        margin-right: 1.75rem;
      }

    }
  }
}


@media only screen and (max-width: 810px) {
  .navbar {
    display: none;
  }
}
