@import "stylesheets/variables";

$listPadding: 1.125rem;

.content {
  padding-bottom: 1rem;
  flex: 1;

  @media ($sm-viewport) {
    margin-right: 3rem;
    padding-bottom: 3rem;
  }
}

.contentDL {
  @media (max-width: $smallEm) {
    width: 100%;
  }
}

.termValuePair {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;

  @media ($sm-viewport) {
    flex-direction: row;
    padding-bottom: 1rem;
  }

  &:last-child {
    padding-bottom: 0.5rem;

    @media ($sm-viewport) {
      padding-bottom: 0;
    }
  }
}

.term {
  opacity: 0.55;
  color: $jaguar;
  font-family: $sansFont;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.19px;
  line-height: 28px;
  padding: .5em 0;

  @media ($sm-viewport) {
    width: 9rem;
  }
}

.value {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  margin-left: 0;
  width: 100%;
  word-break: break-word;

  @media ($sm-viewport) {
    margin-left: $listPadding;
  }

  .search__item_intro {
    .item__intro_title {
      color: $jaguar;
      font-family: $libre;
      font-size: 28px;
      font-weight: 900;
      letter-spacing: 0.7px;
      line-height: 40px;
      width: 80%;
      padding: 1em 0;
    }

    .item__intro_date {
      opacity: 0.55;
      color: $jaguar;
      font-family: $sansFont;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.19px;
      line-height: 28px;
      padding: .5em 0;
    }

    .item__intro_creator {
      color: $jaguar;
      font-family: $sansFont;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.15px;
      line-height: 28px;
      padding: .5em 0;
    }

    .item__intro_description {
      color: $jaguar;
      font-family: $sansFont;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.15px;
      line-height: 28px;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      

      .item__intro_description_long {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .description__link {
      color: $jaguar;
      font-family: $sansFont;
      font-size: 18px;
      font-weight: $bold;
      letter-spacing: 0.15px;
      line-height: 28px;
    }
  }
}

.divider {
  background-color: #DDDDDD;
  height: 1px;
  margin: 1em 0;
}

.section_title {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $jaguar;
    font-family: $libre;
    font-size: 2em;
    font-weight: $xBold;
    letter-spacing: 0.85px;
    line-height: 47px;
    margin: .5em 0;
    padding-left: .5em;
  }

  .section_title_left {
    background: $blueGem;
    height: 2px;
    width: 1.5em;
  }
}

.longDescription {
  max-height: 16rem;
  overflow: hidden;

  @media print {
    overflow: inherit;
    max-height: none;
    padding-bottom: 1rem;
  }

  &.open {
    max-height: none;
  }
}

.showMore {
  cursor: pointer;
  display: block;
  padding: 0.25rem 0;
  border-top: 0.075rem solid gray;
  font-size: 1rem;

  &.open {
    display: none;
  }

  @media (max-width: mediumRem) {
    padding: 0.25rem 1rem 1rem;
  }

  @media print {
    display: none;
  }
}

.imageLabel {
  visibility: hidden;
}

.defaultItemImage {
  padding: 5rem 0;
}

.title {
  font-size: 1.625rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.mainMetadata {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);

  @media ($sm-viewport) {
    padding-bottom: $listPadding;
  }
}

.mainMetadataText {
  font-size: 1rem;
  margin-bottom: 0;

  @media ($sm-viewport) {
    font-size: 1.25rem;
  }
}

.thumbnail {
  width: 242px;
  margin-bottom: 0.5rem;
  display: block;
}

.sourceLink, .sourceLink:visited {
  align-items: center;
  background-color: $subLinkColor;
  border-radius: 2px;
  color: white;
  display: inline-flex;
  font-size: 1.125rem;
  font-weight: 600;
  justify-content: center;
  padding: 0.75rem 0;
  text-decoration: none;
  transition: all 0.2s ease-out;
  width: 100%;

  &:hover {
    background-color: $subLinkColorHover;
    text-decoration: none;
  }

  @media ($sm-viewport) {
    width: 242px;
  }
}

.sourceLinkText {
  margin-right: 0.5rem;
}

.externalLinkIcon {
  height: 16px;
  width: 16px;
}

.otherMetadata {
  padding: 1rem 0 0;

  @media ($sm-viewport) {
    padding: $listPadding 0;
  }
}

.otherMetadataItem {
  font-size: 1rem;

  span {
    line-height: 1.8;
  }
}

.rightsMetadata {
  padding-top: 1rem;

  @media ($sm-viewport) {
    padding-top: $listPadding;
  }
}

.rightsStatement {
  padding: 1rem 0 0;

  & img {
    height: 2rem;
  }
}

.rightsText {
  font-size: 0.9375rem;
}

.url {
  font-family: $monoFont;
  padding: 9px 12px 12px;
  background-color: $warmerBackgroundColor;
  border-radius: 2px;
  font-size: 0.875rem;
  display: block;
  word-break: break-all;
}

.subjects .facetLink {
  margin-bottom: 0.5rem;

  &:not(:last-child) {
    margin-bottom: 0;
  }
}
